[submodule "urlchess.v0.8.1"]
	path = urlchess.v0.8.1
	url = https://github.com/jezek/URLchess.git
[submodule "urlchess.v0.1"]
	path = urlchess.v0.1
	url = https://github.com/jezek/URLchess.git
[submodule "vianocne-kolaciky"]
	path = vianocne-kolaciky
	url = https://github.com/jezek/Vianocne-kolaciky.git
[submodule "Monitor-slovenciny-pre-ChatGPT"]
	path = Monitor-slovenciny-pre-ChatGPT
	url = https://github.com/jezek/Monitor-slovenciny-pre-ChatGPT.git
